@import "header.css";
@import "promo.css";

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}