.promo {
    margin-top: 90px;
    display: flex;
    position: relative;
    background-color: #EEE4DB;
}

.promo-switch {
    margin-left: 28px;
}

.promo-number-slide {

}

.promo-number-slide-inner {
    margin: 17px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    color: rgba(30, 6, 6, 0.05);

}

.promo-button-slide{
    margin-top: 10px;
    padding-left: 3px;

}

.promo-button-slide-inner {
    padding: 2px 16px;
    border: none;
    border-radius: 0px;
    background-color: #D6CAC2;
}

.promo-button-slide-inner:hover {
    background: rgba(30, 6, 6, 0.6);
}

.promo-slide1 {
    max-width: 310px;
    margin-left: 45px;
    margin-top: 90px;
}

.promo-slide-heading {
    font-family: Montserrat;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 44px;
}

.promo-slide-text{
    font-family: Crimson Text;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.img-slide1 {
    margin-top: -90px;
    max-width: 635px;
}